/* formulaires de connexion, inscription et réinitialisation de mot de passe */

.login-form-container{
    margin: 5% 5%;
    padding: 5%;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

.connexion-form, .inscription-form, .reinitialisation-form{
    width: 100%;
    padding: 2em 2em;
}

.connexion-content label{
    text-align: left;
}

.switch{
    text-align: right;
    padding-right: 5%;
}

.switch-premium {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-premium input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(45, 172, 45, 0.452);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(45, 172, 45, 0.452);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

/* informations utilisateur */

.container-informations{
    margin: 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.picture-container{
    padding: 1em 0em 0em 3em;
    margin-right: 5em;
}

.informations-utilisateur{
    width: 100%;
}

.informations-header{
    width: 99%;
    padding: 2em 0em;
    border-width: thin;
    border-color: #000;
}

.liste-personnage-container{
    width: 99%;
    padding: 10px;
}

#card-1{
    margin-left: 25%;
    width: 30em;
    margin-bottom: 10em;
}


.personnage-title{
    display: inline;
    text-align:left
}

.perso-card{
    display: initial;
}

.perso-card:hover{
    box-shadow: #000;
}

/* informations club */

.liste-personnage-container, .personnages-title{
    margin-left: 1em;
}



.informations-club{
    padding-left: 1em;
    width: 100%;
}

/* Modifier club */

.edit-club-form, .create-club-form, .search-club-form, .creation-form{
    width: 99%;
    padding: 2em 2em;
}

.horizontal-card{
    width: 99%;
    max-height: 20em;
}

.picture-placeholder{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 6em;
}

.card-bloc {
    display: inline-block;
    width: 15%;
    text-align: center;
    border-left: 3px solid;
    height: 100%;
}

.card-body{
    height: 100%;
}

.card-text{
    display: inline-block;
}

.icon-btn{
    height: 4em;
    width: 4em;
}

/* Création et recherche de club */

.container-creation{
    margin: 15% 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

/* Recherche de club */

.container-rechercher{
    margin: 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

/* Creation de personnage */

.personnage-creation-form-container{
    margin: 4em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
}

.textarea-bibliographie{
    resize: none;
    overflow: scroll;
    width: 100%;
}

.grid-caracteristique {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
 }

.div-caracteristiques {
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
}

.icon-carac{
    width: 40%;
    height: 40%;
}

.icon-carac-2{
    width: 40%;
    height: 40%;
}

/* navbar */

nav{
    background-color: #ADDCC9;
}

.navbar{
    width: 100%;
}

.navbar a {
    margin: 0px 15px;
    text-align: center;
}

.navbar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    z-index: 2;
}

.nav-left a{
    float: left;
}

.nav-right a{
    float: right;
}

body{
    background-color: #f6f6f9;
}

/* footer */

.footer-container{
    color: white;
    width: 100%;
    background-color: rgba(45, 172, 45, 0.452);
    position: fixed;
    bottom: 0;
}

.footer-container a{
    float: left;
    padding: 10px 15px;
    text-align: center;
}

.footer-left {
    float: left;
}

.footer-right {
    float:right;
}

.footer-container a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 178, 178);
    z-index: 1;
}

/* outils de formulaire */

.form-btn{
    border: 1px solid #000;
	color: rgb(0, 0, 0);
	font-weight: 500;
	background: #f6f6f9;
	padding: .8rem 1rem;
	width: 33%;

}

.form-btn:hover, .form-btn.focus, .sub-btn:hover, .sub-btn:focus{
    box-shadow: inset 0 0 0 15em rgba(45, 172, 45, 0.452);
    color: #fff;
}

.sub-btn {
	border: 1px solid #000;
	padding: .7rem 1rem;
	color: #000;
    width: 25em;
    margin-inline: 15em;
	background: #f6f6f9;
}

.form-control {
	padding-top: .8rem !important;
	padding-bottom: .8rem !important;
}


/* Autres outils */

.center-text{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.padding-right-short{
    padding-right: 2em;
}

#circle {
    display: inline;
    width: 2em;
    height: 2em;
    background: rgba(45, 172, 45, 0.452);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: right;
    text-align: center;
}

#float-right{
    float: right;
}


.middle-text{
    text-align: center;
    vertical-align: middle;
}

#vertical-rule{
    border-right: 3px solid #000;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.right{
    float: right;
}
