/* formulaires de connexion, inscription et réinitialisation de mot de passe */

.login-form-container{
    margin: 5% 5%;
    background-color: #ffffff;
    border: solid 0.25ex;
    display: flex;
}

.connexion-form, .inscription-form, .reinitialisation-form{
    width: 100%;
    padding: 2em 2em;
}

.connexion-content input{
    text-align: center;
}
.connexion-content label{
    text-align: left;
}

.switch{
    text-align: right;
    padding-right: 5%;
}

.switch-premium {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-premium input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(45, 172, 45, 0.452);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(45, 172, 45, 0.452);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* informations utilisateur */

.container-informations{
    border-style: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
}

/* navbar */

nav{
    background-color: #ADDCC9;
}

.navbar{
    width: 100%;
}

.navbar a {
    margin: 0px 15px;
    text-align: center;
}

.navbar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    z-index: 2;
}

.nav-left a{
    float: left;
}

.nav-right a{
    float: right;
}

body{
    background-color: #f6f6f9;
}

/* footer */

.footer-container{
    color: white;
    width: 100%;
    background-color: rgba(45, 172, 45, 0.452);
    position: fixed;
    bottom: 0;
}

.footer-container a{
    float: left;
    padding: 10px 15px;
    text-align: center;
}

.footer-left {
    float: left;
}

.footer-right {
    float:right;
}

.footer-container a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 178, 178);
    z-index: 1;
}

/* outils de formulaire */

.form-btn{
    border: 1px solid #000;
	color: rgb(0, 0, 0);
	font-weight: 500;
	background: #f6f6f9;
	padding: .8rem 1rem;
	width: 33%;

}

.form-btn:hover, .form-btn.focus, .sub-btn:hover, .sub-btn:focus{
    box-shadow: inset 0 0 0 15em rgba(45, 172, 45, 0.452);
    color: #fff;
}

.sub-btn {
	border: 1px solid #000;
	padding: .7rem 1rem;
	color: #000;
    width: 25em;
    margin-inline: 15em;
	background: #f6f6f9;
}

.form-control {
	padding-top: .8rem !important;
	padding-bottom: .8rem !important;
}
