/* formulaires de connexion, inscription et réinitialisation de mot de passe */

.index-container{
    margin: 2% 2%;
    padding: 0.5%;
    background-color: #ffffff;
    height: 80vh;
    width: 95vw;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 5em;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.index-launcher{
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: rgba(45, 172, 45, 0.452);
    height: 30vw;
    width: 30vw;
    position: relative;
    justify-content: center;
}

.index-launcher:hover{
    border: 1px solid rgba(45, 172, 45, 0.452);
    background-color: #f6f6f9;
}

.play-as-guest-btn{
    border: 1px solid #000;
	color: rgb(0, 0, 0);
	font-weight: 500;
	background: #f6f6f9;
	padding: .8rem 1rem;
	width: 70vw;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index-launcher:hover > svg {
    color: rgba(45, 172, 45, 0.452);
}

.index-launcher svg{
    color: white;
    height: 20vw;
    width: 20vw;
}

.login-form-container{
    margin: 2% 2%;
    padding: 0.5%;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 5em;
}

.connexion-form, .inscription-form, .reinitialisation-form, .contact-form, .poule-admin-form, .club-admin-form, .personnage-admin-form, .utilisateur-admin-form, .composition-form{
    width: 100%;
    padding: 2em 2em;
}

.informations-mentions-legales, .informations-regles-jeu{
    width: 100%;
    padding: 1em 2em;
}

.connexion-content label{
    text-align: left;
}

.switch{
    text-align: right;
    padding-right: 5%;
}

.switch-premium {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-premium input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgba(45, 172, 45, 0.452);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgba(45, 172, 45, 0.452);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.outer
{
    text-align: center;
}
.inner
{
    display: inline-block;
    width:100%;
}

/* informations utilisateur */

.container-informations{
    padding: 0.75em;
    background-color: #ffffff;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 1em;
    margin: 0.5em;
}

.picture-container img{
    min-width: 25%;
    min-height: 25%;
    max-height: 75%;
    max-width: 75%;
}

.picture-container{
    padding: 1em 0em 0em 0em;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.informations-utilisateur{
    width: 100%;
}

.informations-header{
    width: 99%;
    padding: 2em 1em;
    border-width: thin;
    border-color: #000;
}

.liste-personnage-container{
    width: 99%;
    padding: 10px;
}

#card-1{
    margin: 1em;
    max-width: 95%;
    margin-bottom: 5em;
}

#card-2{
    margin: 1em;
    margin-bottom: 5em;
}

.personnage-title{
    display: inline;
    text-align:left
}

.personnage-container:hover{
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.05); 
}

.link-container{
    width: 100%;
    background-color: rgba(45, 172, 45, 0.452);
    text-align: center;
}

.link-container a{
    color: white;
}



.link-container a:hover{
    color: rgba(0, 0, 0, 0.452);
    
}

.link-container a:hover:after{
    
    text-align: center;
    color: rgba(45, 172, 45, 0.452);
    width: 100%;
}

/* informations club */

.liste-personnage-container, .personnages-title{
    margin-left: 1em;
}

.informations-club{
    padding-left: 1em;
    width: 100%;
}

/* Modifier club */

.edit-club-form, .create-club-form, .search-club-form, .creation-form{
    width: 99%;
    padding: 2em 2em;
}

.horizontal-card{
    width: 99%;
    max-height: 20em;
}

.picture-placeholder{
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 6em;
}

.card-bloc {
    display: inline-block;
    width: 15%;
    text-align: center;
    border-left: 3px solid;
    height: 100%;
}

.card-body{
    height: 100%;
}

.card-text{
    display: inline-block;
}

.icon-btn{
    min-height: 5em;
    min-width: 5em;
    height: 75%;
    width: 75%;
}

.card-illustration img{
    max-height: 35em;
}

/* Création et recherche de club */

.container-creation{
    margin: 15% 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

/* Recherche de club */

.container-rechercher{
    margin: 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
}

/* Creation de personnage */

.personnage-creation, .personnage-creation-form-container{
    margin: 1.5em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    margin-bottom: 5em;
}

.textarea-bibliographie{
    resize: none;
    overflow: scroll;
    width: 100%;
}


.div-caracteristiques {
    text-align: center;
}

.icon-carac{
    max-width: 35%;
    max-height: 35%;
    margin: 5%;
}
.icon-carac-2{
    max-width: 30%;
    max-height: 30%;
    margin: 5%;
}
.icon-carac-3{
    max-width: 45%;
    max-height: 45%;
    margin: 5%;
}

.img-illustration{
    max-height: 40vh;
}

.img-illustration-2{
    max-height: 20vh;
    max-width: 20vh;
}

.picture-container-3{
    padding: 1em 0em 0em 0em;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

/* Modification de personnage */
.picture-container-2 {
    padding: 1em 0em 0em 3em;
    margin-right: 5em;
    width: 15%;
    text-align: center;
    display: inline-block;
}

.edit-character-header{
    top: 10%;
    position: relative;
}

#file-upload {
    display: none;
}

#label-upload {
    margin-top: 1em;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#edit-illustration {
    max-height: 20vh;
    max-width: 30vh;
}

/* Sélection de personnage */

.ticking-box-container{
    position: relative;
    width: 100%;
}

.ticking-box{
    float: right;
    background-color: #fff;
    margin-top: 5%;
    margin-left: 80%;
    border: 1px solid;
    width: 15%;
    height: 15%;
    position: absolute;
    text-align: center;
    padding-top: 5%;
    color:rgba(45, 172, 45, 0.452);
}

.card-footer{
    background-color: rgba(45, 172, 45, 0.452);
}

.invisible{
    visibility: hidden;
}

.card-button-footer{
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    width: 100%;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.card-button-footer:hover{
    background-color: white;
    border: 1px solid rgba(45, 172, 45, 0.452);
    color: rgba(45, 172, 45, 0.452);
    width: 100%;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

/* Page de contact */

.contact-form-container{
    margin: 1em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    margin-bottom: 5em;
}

/* File d'attente */

.queue-content{
    text-align: center;
}

/* Page de jeu */

.game-container{
    margin: 1%;
    margin-bottom: 4em;
    padding: 0.5%;
    box-shadow: 5px 10px 18px #888888;
    max-width: 100%;
    position: relative;
    min-height: 70vh;
    background: #ebf0f0
}

.timer-container{
    text-align: center;
    margin: 2em 0em;
    padding: 5%;
    background: #ffffff;
    border-radius: 50%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 150%;
}

.gaming-screen{
    margin: 1em;
    border: solid 1px #000;
    min-height:50vh;
    background: #ffffff;
}

.capacites-container{
    text-align: center;
    margin: 1em 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#capacite-1, #capacite-2{
    text-align: center;
    display: inline;
    margin: 0 10em;
}

#capacite-1 img, #capacite-2 img{
    border-radius: 25% 10%;
    border: rgba(45, 172, 45, 0.452) solid 0.5px;
    width: 5em;
    height: 5em;
    background: #fff;
    margin-bottom: 1vh;
}

#capacite-1 img:hover, #capacite-2 img:hover{
    box-shadow: 5px 10px 18px #888888;
    transform: scale(1.10); 
}

a.fill-div {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.button-capacites{
    border: none;
}

.team-img{
    max-width: 3em;
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

/* navbar */

nav{
    background-color: #ADDCC9;
    position: fixed;
}

.navbar{
    width: 100%;
}

.navbar a {
    margin: 0px 15px;
    margin-left: 2em;
}

.navbar a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    z-index: 2;
}

.svg-profile{
    width: 1vh;
    height: 1vh;
}

.btn-dropdown{
    border: none;
    margin: 0px 15px;
    margin-left: 2em;
}

/* body */

body{
    background-color: #f6f6f9;
    width: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}

/* footer */

.footer-container{
    color: white;
    width: 100%;
    background-color: rgba(45, 172, 45, 0.452);
    position: fixed;
    bottom: 0;
}

.footer-container a{
    float: left;
    padding: 10px 15px;
    text-align: center;
}

.footer-left {
    float: left;
}

.footer-right {
    float:right;
}

.footer-container a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(185, 178, 178);
    z-index: 1;
}

/* outils de formulaire */

.form-btn{
    border: 1px solid #000;
	color: rgb(0, 0, 0);
	font-weight: 500;
	background: #f6f6f9;
	padding: .8rem 1rem;
	width: 66%;

}

.form-btn:hover, .form-btn.focus{
    background:  rgba(45, 172, 45, 0.452);
    color: #fff;
}

.sub-btn:hover, .sub-btn:focus{
    background-color: #ADDCC9;
    color: #fff;
}

.sub-btn {
	border: 1px solid #000;
	padding: .7rem 1rem;
	color: #000;
    width: 66%;
	background: #f6f6f9;
}

.form-control {
	padding-top: .8rem !important;
	padding-bottom: .8rem !important;
}


/* Autres outils */

.center-text{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.padding-right-short{
    padding-right: 2em;
}

#circle {
    display: inline;
    width: 2em;
    height: 2em;
    background: rgba(45, 172, 45, 0.452);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float: right;
    text-align: center;
}

#float-right{
    float: right;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.float-middle{
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


.middle-text{
    text-align: center;
    vertical-align: middle;
}

#vertical-rule{
    border-right: 3px solid #000;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.right{
    float: right;
}

.flex-container{
    display: flex;
}

.margin-title{
    margin: 1em;
}

.title{
    font-size: large;
}

.thin-margin{
    margin: 0.5em;
}

.thin-margin-2{
    margin: 1em;
}

.logout-btn{
    background-color: rgba(117, 190, 218, 0.0) ;
    color: #ffffff;
    border: 1px #fff solid;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 2em;
}

.logout-btn:hover{
    background-color: rgb(255, 255, 255) ;
    color: rgba(45, 172, 45, 0.452);
    border: rgba(45, 172, 45, 0.452) solid 1px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 2em;
}

.alert-container{
    margin: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.alert-container div{
    width: 90%;
}

.close-btn{
    background: none;
    border: none;
    float: right;
    position: relative;
    top: 0%;
}

.a-title{
    text-decoration: none;
    color: black;
}

.launch-game-btn{
    border: none;
    background: none;
}

.black-text h3, .black-text p, .black-text{
    color: #000;
}

.creation-form-2{
    width: 99%;
    height: 70vh;
    position: absolute;
}

.index-container-svg{
    width: 80%;
    max-height: 75%;
    position: absolute;
}

.index-content{
    position: absolute;
    bottom: 1%;
    width: 100%;
}

.index-btn{
    border: 1px solid #000;
	color: rgb(0, 0, 0);
	font-weight: 500;
	background: #f6f6f9;
	padding: .8rem 1rem;
    text-align: center;
	width: 80%;
}


/* Style de la composition du match */

.composition-container{
    margin: 1.5em;
    background-color: #ffffff;
    display: flex;
    box-shadow: 5px 10px 18px #888888;
    position: relative;
    margin-bottom: 5em;
}

#terrain-de-football {

    background-image: url("../images/Football_field.svg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    height: auto;
    min-height: 1200px;
    max-height: 2400px;
    position: relative;
}

.bottom-row{
    position: absolute;
    height: 20%;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.second-bottom-row{
    position: absolute;
    height: 20%;
    bottom: 20%;
    width: 100%;
    justify-content: center;
}

.third-bottom-row{
    position: absolute;
    height: 20%;
    bottom: 40%;
    width: 100%;
    justify-content: center;
}

.fourth-bottom-row{
    position: absolute;
    height: 20%;
    bottom: 60%;
    width: 100%;
    justify-content: center;
}

.positionnement-personnage {
    margin: 1em;
}

@media only screen and (max-width: 600px) {
    #terrain-de-football {
        min-height: 350px;
        max-height: 2400px;
    }
  }


  @media only screen and (min-width: 1800px) {
    #terrain-de-football {
        min-height: 1800px;
        max-height: 3100px;
    }
}

#card-composition{
    max-height: 10.5em;
    max-width: 20%;
}

.img-illustration-composition{
    
    max-height: 10vh;
    max-width: 100%;
}

.justify-center {
    justify-content: center;
    text-align: -webkit-center;
}
